<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - Hibernate</title>
<style>
table, th, td, tr {
  border: 1px solid black;
}
td {
  padding-right: 30px;
}
</style>
</head>
<body>
  <h1>List Student:</h1>
  <a th:href="@{/student-save}">Add Student</a>
  <br />
  <br />
  <table>
    <tr>
      <th>Ma SV</th>
      <th>Ten</th>
      <th>Nam Sinh</th>
      <th>Gioi Tinh</th>
      <th>Que Quan</th>
      <th>Ma lop</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <th:block th:each="student : ${listStudent}">
      <tr>
        <td><p th:text="${student.MaSV}"></p></td>
        <td><p th:text="${student.Ten}"></p></td>
        <td><p th:text="${student.Namsinh}"></p></td>
        <td><p th:text="${student.Gioitinh}"></p></td>
        <td><p th:text="${student.Quequan}"></p></td>
        <td><p th:text="${student.Malop}"></p></td>
        <td><a th:href="@{/student-view/} + ${student.MaSV}">View</a></td>
        <td><a th:href="@{/student-update/} + ${student.MaSV}">Edit</a></td>
        <td><a th:href="@{/studentDelete/} + ${student.MaSV}">Delete</a></td>
        <td><a href=""></a> </td>
      </tr>
    </th:block>
  </table>
</body>
</html>